div.song-card {
  position: relative;
  width: 192px;
  height: max-content;
  padding: 15px;
  border-radius: 10px;
  background: #3A3A3A;
}

div.song-card .block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

div.song-card .thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

div.song-card .info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

div.song-card .info .title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

div.song-card .info .year {
  display: grid;
  place-items: center;
}

div.song-card .info .year,
div.song-card .artist {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}