.admin .form-wrapper {
  padding-top: 50px;
  width: 60%;
  margin: auto;
}

.admin .form-wrapper .form input[type="text"],
.admin .form-wrapper .form input[type="email"],
.admin .form-wrapper .form input[type="password"],
.admin .form-wrapper .form select {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #D2D2D2;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  color: white;
}

.admin .form-wrapper .form .btn-submit {
  margin-top: 20px;
}