header.header {
  display: flex;
  flex-flow: column nowrap;
  height: 512px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.header .header-top {
  padding: 10px 20px;
}

header.header .header-body {
  flex: 1;
  display: grid;
  place-items: center;
}

header.header .header-body h1 {
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
text-align: center;
}

header.header .header-body h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}